.headerWrapper {
  background-color: var(--primary-color);
  color: var(--text-secondary);
  margin-bottom: 50px;
}

.userBackIcon,
.userLogoutIcon {
  display: none;
}

.userDetailsHeader {
  display: flex;
  align-items: flex-start;
  position: relative;
  min-height: 200px;
}

.userAvatar {
  padding: 40px 30px;
}

.userTitle {
  font-size: 64px;
  align-self: center;
}
.userBtnBack,
.userBtnLogout {
  margin-top: 30px;
}

.userBtnLogout {
  margin-left: auto;
}

.userDetailsBody {
  display: flex;
  font-size: 16px;
}

.userDetailsText {
  max-width: 630px;
  margin: 0 130px 0 95px;
}

.userDetailsText p {
  margin-bottom: 20px;
}

.userDetailsPhone {
  margin-bottom: 15px;
}

@media (max-width: 1320px) {
  .userDetailsHeader {
    padding: 0 10px;
  }

  .userLogoutIcon {
    right: 50px;
  }
}

@media (max-width: 990px) {
  .userTitle {
    font-size: 36px;
  }

  .userDetailsBody {
    flex-direction: column;
    max-width: 630px;
    margin: 0 auto;
  }

  .userDetailsText {
    margin: 0;
    order: 2;
  }

  .userDetailsContacts {
    order: 1;
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .userDetailsHeader {
    flex-direction: column;
  }

  .userBtnBack,
  .userBtnLogout {
    margin: 0;
    position: absolute;
    top: 10px;
  }

  .userBtnBack {
    left: 20px;
  }

  .userBtnLogout {
    right: 20px;
  }

  .userBackText,
  .userLogoutText {
    display: none;
  }

  .userBackIcon,
  .userLogoutIcon {
    display: block;
  }

  .userTitle {
    order: 1;
    padding: 55px 0 35px;
  }
  .userAvatar {
    order: 2;
    padding: 0 0 50px 0;
    align-self: center;
  }

  .userDetailsBody {
    padding: 0 10px 0;
  }
}
