.header {
  background-color: var(--primary-color);
  color: var(--text-secondary);
  text-align: center;
}

.header h1 {
  padding: 25px 0 15px;
  font-size: 64px;
}

.header p {
  max-width: 846px;
  margin: 0 auto;
  padding-bottom: 30px;
}


