.header {
  background-color: var(--primary-color);
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 50px;
}

.headerInner {
  position: relative;
}

.headerInner .headerLogoutBtn {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
  cursor: pointer;
}

.header h1 {
  padding: 35px 0 10px;
  font-size: 64px;
}

.header p {
  max-width: 846px;
  margin: 0 auto;
  padding-bottom: 40px;
}
